.todoList {
  padding: 3rem;
}

.todoListContainer {
  background-color: #fff;
  max-width: 40rem;
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  // box-shadow: 0px 4px 6px rgba(red, green, blue, 0.1);
}
