.title {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.tasks {
}
.task {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;
  .taskContent {
    display: flex;
    align-items: center;
    input {
      margin-right: 1rem;
    }
    .taskName {
      font-size: 1.5rem;
    }
    .taskNameDone {
      text-decoration: line-through;
      opacity: 0.3;
    }
  }
  .taskActions {
    button {
      margin-left: 0.5rem;
      font-size: 1.5rem;
      border-radius: 0.7rem;
      -webkit-border-radius: 0.7rem;
      -moz-border-radius: 0.7rem;
      -ms-border-radius: 0.7rem;
      -o-border-radius: 0.7rem;
      padding: 0.5rem;
      cursor: pointer;
    }
    button:hover {
      background-color: aqua;
      transition: all 0.6s;
      -webkit-transition: all 0.6s;
      -moz-transition: all 0.6s;
      -ms-transition: all 0.6s;
      -o-transition: all 0.6s;
    }
  }
}
